OPENROUTER_API_KEY =

# LangSmith is Optional, but recommended for tracing and debugging. You can get a free API key at https://www.langchain.com/langsmith
LANGSMITH_TRACING_V2=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# Tavily is Optional. If set, Tavily Web Search tool is enabled.
TAVILY_API_KEY=